.big-button {
    background: $purple;
    border-bottom: $s-size solid darken($purple, 10%);
    border: none;
    color: white;
    font-size: $xl-size;
    font-weight: bold;
    margin-bottom: $xl-size;
    padding: 2.4rem;
    width: 100%;
}

.big-button:disabled {
    opacity: 0.5;
}

.button {
    background: $purple;
    border-bottom: .3rem solid darken($purple, 10%);
    border: none;
    color: white;
    font-weight: 500;
    padding: $s-size;
}

.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}
